* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

html {
    overflow-x: hidden;
}

.page-nav {
    position: absolute;
    width: 100vw;
    height: 150px;
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    z-index: 99;
}

.page-nav .logo {
    position: relative;
    display: flex;
    height: 100%;
    width: fit-content;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

.page-nav .logo-img {
    position: relative;
    height: 70px;
    width: 39px;
}

.page-nav img {
    position: relative;
    height: 100%;
}

.page-nav .logo-name {
    position: relative;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    text-shadow: 0 0 black;
    margin-top: 30px;
}

.page-nav .logo-name .n1{
    font-size: 30px;
    color: #d7dff4;
    font-weight: 500;
}

.page-nav .logo-name .n2{
    color: #8b9bc6;
    font-size: 27px;
    top: -15px;
    position: relative;
    font-weight: 500;
}

.trans-parent {
    position: relative;
}

.page-nav .translation, .trans-selection .trans-select {
    position: relative;
    display: flex;
    width: 90px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(153 153 153 / 20%);
    border: 4px solid rgb(242 242 242 / 20%);
    opacity: .8;
    transition: .4s;
    cursor: pointer;
    box-shadow: -1px 1px 10px rgb(79 84 89 / 2%);
    margin-right: 0;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.page-nav .trans-parent.active .translation {
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.trans-selection .trans-select {
    position: relative;
    display: flex;
    width: 90px;
    height: 40px;
    border-radius: 0;
    background-color: rgb(153 153 153 / 20%);
    border: 2px solid rgb(242 242 242 / 20%);
    opacity: 1;
    transition: .25s;
}

.trans-selection {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: fit-content;
    display: none;
}

.page-nav .trans-parent.active .trans-selection {
    display: block;
}

.page-nav .translation img, .trans-selection .trans-select img {
    position: relative;
    height: 70%;
    margin-left: 7px;
}

.trans-selection .trans-select img {
    position: relative;
    height: 60%;
    margin-left: 7px;
}

.page-nav .translation span, .trans-selection .trans-select span {
    position: relative;
    color: #e5f1ed;
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
}

.page-nav .translation:hover {
    opacity: 1;
    box-shadow: -1px 2px 10px rgb(79 84 89 / 15%);
}

.trans-selection .trans-select:hover {
    opacity: 1;
    background-color: rgb(67 67 67 / 47%);
    border: 2px solid rgb(157 157 157 / 65%);
}

.pages-pointers {
    position: fixed;
    display: flex;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 9999;
}

.pages-pointers .pointer {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #c7cbdc;
    opacity: .8;
    transition: .25s;
    box-shadow: 0 1px 5px #4046508c;
}

.pages-pointers .pointer:not(.active):hover {
    opacity: 1;
}

.pages-pointers .pointer.active {
    width: 10px;
    height: 55px;
    border-radius: 25px;
    background-color: #f3f6f9;
    opacity: .9;
}

.part1 {
    position: relative;
    width: 100vw;
    height: 100%;
    min-height: 850px;
    overflow: hidden;
}

.background {
    position: absolute;
    left: 0;
    top: -270px;
    width: 100%;
    height: calc(100% + 270px);
}

.background img.ground-img {
    position: fixed;
    left: 50%;
    transform: translateX(-45%);
    top: -25%;
    width: 125%;
    min-height: 125vh;
    object-fit: cover;
}

.background img.ground-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.page-container {
    position: relative;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    margin-top: 270px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.page-container img {
    position: relative;
    height: 120px;
}

.page-container .buttons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 200px;
    row-gap: 45px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}

.page-container .buttons .buton {
    position: relative;
    display: flex;
    width: 360px;
    height: 72px;
    background-color: #82b9b9;
    border-radius: 50px;
    color: #56575b;
    text-align: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
}

.page-container .buttons .buton.first-btn .shape {
    position: absolute;
    width: 75%;
    height: 18px;
    background-color: rgb(211 203 197 / 45%);
    border-radius: 50%;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.page-container .buttons .buton.second-btn .shape {
    position: absolute;
    width: 75%;
    height: 18px;
    background-color: rgb(88 89 93 / 20%);
    border-radius: 50%;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.page-container .buttons .buton.first-btn {
    background-color: rgb(146 174 214 / 85%);
}

.page-container .buttons .buton.first-btn:hover {
    background-color: rgb(146 174 214 / 100%);
    transform: translateY(-2px);
}

.page-container .buttons .buton.first-btn span.sp {
    color: #dce1e5;
}

.page-container .buttons .buton.second-btn {
    background-color: rgb(219 219 219 / 85%);
}

.page-container .buttons .buton.second-btn:hover {
    background-color: rgb(219 219 219 / 100%);
    transform: translateY(-2px);
}

.page-container .buttons .buton.second-btn span.sp {
    color: #5580aa;
}

.travel-line-plans {
    position: relative;
    width: 100vw;
    min-width: 1300px;
    height: fit-content;
    right: 0;
    left: unset;
    margin-top: 130px;
}

.travel-line-plans img.travel-line {
    position: absolute;
    right: 0;
    left: unset;
    top: 0;
    width: 100vw;
    min-width: 1300px;
}

.travel-line-plans img.travel-line.first-line {
    position: relative;
}

.travel-line-plans img.travel-line.second-line {
    transform: translateY(4px);
    opacity: .6;
}

.travel-line-plans img.travel-line.third-line {
    transform: translateY(8px);
    opacity: .3;
}

.travel-line-plans img.travel-plan {
    position: absolute;
    right: 0;
    top: 0;
    filter: drop-shadow(2px 2px 13px rgb(54 56 61 / 60%));
}

.travel-line-plans img.travel-plan.first-plan {
    right: 15%;
    left: unset;
    top: 10.5%;
    width: 10%;
}

.travel-line-plans img.travel-plan.second-plan {
    right: 50%;
    left: unset;
    top: 12.5%;
    width: 8%;
    transform: rotate(3deg);
}

.travel-line-plans img.travel-plan.third-plan {
    right: 82.9%;
    left: unset;
    top: 46%;
    width: 2%;
    transform: rotate(-6deg);
}

.part2 {
    position: relative;
    width: 100vw;
    height: fit-content;
    background-color: #f4f4f7;
    box-shadow: 0 0 60px 5px rgb(36 37 41 / 50%);
    overflow: hidden;
    z-index: 55;
}

.part2 img.ground-img {
    position: absolute;
    left: 0;
    bottom: -10%;
    top: unset;
    width: 100%;
}

.part2 .ground-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(205 210 219 / 97%), rgb(255 255 255 / 97%));
}

.part2 .part-header {
    position: relative;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    padding: 60px 0 5px 0;
}

.part2 .part-header h1 {
    font-weight: 800;
    letter-spacing: -.5px;
    word-spacing: 2px;
}

.part2 .part-header p {
    position: relative;
    font-size: 20px;
    width: 1000px;
    margin: 0 auto;
    color: #2a2a31;
}

@media only screen and (max-width: 1050px) {
    .part2 .part-header p {
        width: fit-content;
        padding: 0 10px;
    }
}

.part2 .part-header div {
    position: relative;
    margin-top: 15px;
    color: #4c4f7e;
}

.packages {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 50px 75px;
    gap: 35px;
}

.packages .package {
    position: relative;
    width: 380px;
    height: 240px;
    background-color: #d2bea3;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: -1px 1px 15px rgb(72 80 91 / 50%);
    cursor: pointer;
    transition: .5s;
}

.packages .package .info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-15px);
    opacity: 0;
    top: 0;
    z-index: 1;
    color: #e1e3ef;
    font-family: 'Tajawal', sans-serif;
    transition: .3s;
}

.packages .package img.package-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.packages .package.hover img.package-img {
    transform: scale(1.2);
}

.packages .package.hover .info {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.packages .package .package-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(59 63 70 / 20%);
}

.packages .package .package-name {
    position: absolute;
    left: 0;
    bottom: 0;
    top: unset;
    background-color: rgb(19 21 23 / 75%);
    padding: 4px 15px;
    border-top-right-radius: 10px;
    color: #cbced8;
    font-family: 'Tajawal', sans-serif;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 17px;
}

.packages .package .package-details {
    position: absolute;
    right: 10px;
    left: unset;
    bottom: 5px;
    top: unset;
    padding: 7px 15px;
    background-color: rgb(255 255 255 / 90%);
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    letter-spacing: .4px;
    color: #af2cad;
    text-shadow: 0 0 black;
    line-height: 1;
}

.pack-block-parent {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background-color: #0000004f;
    z-index: 5555;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.pack-block-parent.active {
    display: flex;
}

.package-block {
    position: relative;
    display: flex;
    width: 90vw;
    max-width: 700px;
    height: 90vh;
    background-color: #494a55;
    left: 0;
    top: 0;
    border-radius: 40px;
    box-shadow: -1px 2px 25px #2b2e34;
    overflow: overlay;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(20px);
    opacity: 0;
}

.pack-block-parent.active .package-block {
    animation: show_p .35s ease-in-out 0s 1 forwards;
}

@keyframes show_p {

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
    
}

.pack-block-parent .package-block .pl-overscroll{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.package-block .background-image {
    position: relative;
    width: 100%;
    height: 400px;
}

.package-block .background-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.package-block .background-image .bi-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #494a55 0%, transparent 75%);
}

.package-block .package-close {
    position: absolute;
    right: 0;
    left: unset;
    top: 0;
    padding: 10px 25px;
    font-size: 20px;
    background-color: #5a5a61;
    color: #c3c3c3;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    box-shadow: -2px 2px 10px rgb(62 68 78 / 75%);
    transition: .3s;
}

.package-block .package-close:hover {
    background-color: #404048;
}

.package-block .background-image .package-bottom {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 25px;
    padding: 0 30px;
    top: unset;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.package-block .background-image .bi-desc {
    position: relative;
    color: aliceblue;
    background-color: rgb(0 0 0 / 50%);
    padding: 6px 25px;
    border-radius: 7px;
}

.package-block .background-image .package-price {
    position: absolute;
    top: 25px;
    left: 40px;
    color: whitesmoke;
    background-color: rgb(209 199 34 / 70%);
    padding: 6px 25px;
    border-radius: 7px;
    font-weight: 500;
}

.package-block .background-image .pdt-parent {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.package-block .background-image .package-duration {
    position: relative;
    color: #ab8824;
    background-color: rgb(255 255 255 / 85%);
    padding: 6px 25px;
    border-radius: 7px;
    font-family: 'Tajawal', sans-serif;
    box-shadow: 0 1px 15px rgb(29 30 33 / 75%);
    font-weight: 600;
}

.package-block .background-image .start-package-date {
    position: relative;
    color: #304689;
    background-color: rgb(255 255 255 / 85%);
    padding: 6px 25px;
    border-radius: 7px;
    font-family: 'Tajawal', sans-serif;
    box-shadow: 0 1px 15px rgb(29 30 33 / 75%);
}

.package-block .package-content {
    position: relative;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 35px;
    padding-bottom: 25px;
}

.package-block .package-content .package-name {
    position: relative;
    font-size: 60px;
    color: #c6cfdc;
    font-family: 'Tajawal', sans-serif;
}

.package-block .package-content .package-info {
    position: relative;
    display: flex;
    color: #c7c7c7;
    font-size: 17px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.package-block .package-content .ticket-btn-parent {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.package-block .package-content .buy-ticket-btn {
    position: relative;
    padding: 7px 25px;
    border-radius: 6px;
    background-color: #7688e6;
    color: white;
    font-family: 'Tajawal', sans-serif;
    cursor: pointer;
    user-select: none;
    transition: .25s;
}

.package-block .package-content .buy-ticket-btn:hover {
    background-color: #435ddb;
}

.part3 {
    position: relative;
    width: 100vw;
    height: fit-content;
    background-color: cornflowerblue;
    overflow: hidden;
    padding: 75px;
}

.part3 img.ground-img {
    position: absolute;
    left: 0;
    bottom: -15%;
    top: unset;
    width: 100%;
}

.part3 .ground-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(63 65 77 / 90%);
}

.part3 .part3-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    row-gap: 50px;
}

.part3 .part3-container .logo {
    position: relative;
    width: fit-content;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
    border: 10px solid #e2e4e847;
    box-shadow: -1px 3px 25px 5px #25282ecf;
}

.part3 .part3-container .logo img {
    position: relative;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.part3 .part3-container .part-text {
    position: relative;
    width: 695px;
    background-color: rgb(14 14 16 / 50%);
    padding: 60px;
    border-radius: 40px;
    border-top-right-radius: 10px;
    color: #cbcdd3;
    text-align: center;
}

.part3 .part3-container .part-text .advantages {
    position: relative;
    display: flex;
    background-color: #ffffff5c;
    border-radius: 20px;
    margin-top: 40px;
    padding: 25px;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    line-height: 1;
}

.part3 .part3-container .part-text .advantages .advantage {
    position: relative;
    color: #eeeeee;
    font-family: 'Tajawal',sans-serif;
    font-size: 15px;
}

.part3 .part3-container .part-text .advantages .advantage img {
    position: relative;
    height: 25px;
    margin-right: 10px;
    transform: translateY(-1px);
}

.part4 {
    position: relative;
    width: 100vw;
    height: fit-content;
    background-color: #f8f9fc;
    box-shadow: 0 0 60px 5px rgb(36 37 41 / 50%);
    overflow: hidden;
    padding: 75px;
}

.part4 img.ground-img {
    position: absolute;
    left: 0;
    bottom: -10%;
    top: unset;
    width: 100%;
    height: 111%;
    object-fit: cover;
}

.part4 .ground-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(205 210 219 / 97%), rgb(255 255 255 / 97%));
}

.part4 .part-header {
    position: relative;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    padding-bottom: 5px;
}

.part4 .part-header h1 {
    font-weight: 800;
    letter-spacing: -.5px;
    word-spacing: 2px;
}

.part4 .part-header p {
    position: relative;
    font-size: 20px;
    width: fit-content;
    margin: 0 auto;
    color: #2a2a31;
}

.part4 .part-header div {
    position: relative;
    margin-top: 15px;
    color: #4c4f7e;
    fill: #7e7f8b;
    width: 15px;
    transform: scaleX(1.2);
    margin: 0 auto;
}

.part4 .services {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 95px;
    margin-top: 25px;
    padding: 0 50px;
}

.part4 .services .service {
    position: relative;
    display: flex;
    width: 260px;
    height: 230px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: -1px 2px 15px 2px #3b404b05;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    font-family: 'Tajawal', sans-serif;
    text-align: center;
}

.part4 .services .service img {
    position: relative;
    height: 70px;
    margin: 22px;
}

.part4 .services .service .service-name {
    font-weight: 700;
    color: #6b83ad;
}

.part4 .services .service .service-describe {
    font-size: 14px;
}

.part5 {
    position: relative;
    width: 100vw;
    height: 350px;
}

.part5 .ground-cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 97%);
}

.footer {
    position: relative;
    display: flex;
    width: 100vw;
    height: fit-content;
    min-height: 100%;
    background-color: white;
    border-radius: 30%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 -2px 45px rgb(59 69 78 / 30%);
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    padding-bottom: 100px;
    gap: 45px;
}

.footer .footer-logo {
    position: relative;
    display: flex;
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.footer .logo-img {
    position: relative;
    height: inherit;
    width: 85px;
}

.footer img {
    position: relative;
    height: 100%;
}

.footer .logo-name {
    position: relative;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    text-shadow: 0 0 black;
    margin-top: 30px;
}

.footer .logo-name .n1{
    font-size: 45px;
    color: #a0b1df;
    font-weight: 500;
}

.footer .logo-name .n2{
    color: #8b9bc6;
    font-size: 39px;
    top: -27px;
    position: relative;
    font-weight: 500;
}

.footer .footer-details, .footer .footer-social{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    max-width: 190px;
}

.footer .footer-details img {
    position: relative;
    height: 100%;
    margin-right: 10px;
}

.footer .footer-social img {
    position: relative;
    height: 30px;
    margin-right: 10px;
}

.copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    top: unset;
    padding: 5px 20px;
    background-color: #737e9f1a;
    border-radius: 13px;
    font-family: 'Tajawal', sans-serif;
    white-space: nowrap;
}

.copyright img {
    height: 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 550px) {
    .pages-pointers {
        left: 10px;
    }
    .part1 .page-container img {
        height: 75px;
    }
}

@media only screen and (max-width: 500px) {
    .part3 {
        padding: 75px 25px;
    }
    .packages .package .package-details {
        top: 10px;
        bottom: unset;
    }
    .packages {
        padding: 50px 25px;
    }
    .page-nav {
        padding: 25px;
    }
}

@media only screen and (max-width: 620px) {
    .package-block .background-image .package-bottom {
        position: absolute;
        display: flex;
        width: 100%;
        bottom: 25px;
        padding: 0 30px;
        top: unset;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 10px;
    }
    .package-block .background-image .pdt-parent {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
}